In [1]:
import pandas as pd
import numpy as np

In [2]:
json_ = [{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]

In [3]:
#Create the pandas DataFrame
participants = pd.DataFrame(json_)
participants

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [4]:
BMI_table = [['Underweight','18.4 and below','Malnutrition risk'],
        ['Normal weight', '18.5 - 24.9', 'Low risk'],
        ['Overweight', '25 - 29.9', 'Enhanced risk'],
        ['Moderately obese', '30 - 34.9', 'Medium risk'],
        ['Severely obese', '35 - 39.9', 'High risk'],
        ['Very severely obese', '40 and above', 'Very high risk']]
#Create the pandas DataFrame
BMI_INFO = pd.DataFrame(BMI_table, columns=['BMI Category', 'BMI Range (kg/m2)','Health risk'])
BMI_INFO

          BMI Category BMI Range (kg/m2)        Health risk
0          Underweight    18.4 and below  Malnutrition risk
1        Normal weight       18.5 - 24.9           Low risk
2           Overweight         25 - 29.9      Enhanced risk
3     Moderately obese         30 - 34.9        Medium risk
4       Severely obese         35 - 39.9          High risk
5  Very severely obese      40 and above     Very high risk

# TASK1:  part(a) Calculate the BMI (Body Mass Index) using Formula 1

In [5]:
participants['BMI']= participants.WeightKg/((participants.HeightCm/100)**2)
participants

   Gender  HeightCm  WeightKg        BMI
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

# TASK1: part(b) add BMI Category and Health risk as new columns

In [6]:
BMI_conditions = [(participants['BMI'] <18.4),
                 (participants['BMI'] >18.5) & (participants['BMI'] <24.9),
                 (participants['BMI'] >25) & (participants['BMI'] <29.9),
                 (participants['BMI'] >30) & (participants['BMI'] <34.9),
                  (participants['BMI'] >35) & (participants['BMI'] <39.9),
                  (participants['BMI'] >40)]

risk = ['Malnutrition_risk','Low_risk','Enhanced_risk','Medium_risk','High_risk','Very_high_risk']
participants[''] = np.select(BMI_conditions,risk)

category = ['Underweight','Normal weight','Overweight','Moderately_obese','Severely_obese','Very_severely_obese']
participants['BMI_category'] = np.select(BMI_conditions,category)

In [7]:
risk = ['Malnutrition risk','Low risk','Enhanced risk','Medium risk','High risk','Very high risk']
participants['Health_risk'] = np.select(BMI_conditions,risk)

category = ['Underweight','Normal weight','Overweight','Moderately obese','Severely obese','Very severely obese']
participants['BMI_category'] = np.select(BMI_conditions,category)

participants

   Gender  HeightCm  WeightKg        BMI    Health_risk      BMI_category
0    Male       171        96  32.830615    Medium risk  Moderately obese
1    Male       161        85  32.791945    Medium risk  Moderately obese
2    Male       180        77  23.765432       Low risk     Normal weight
3  Female       166        62  22.499637       Low risk     Normal weight
4  Female       150        70  31.111111    Medium risk  Moderately obese
5  Female       167        82  29.402273  Enhanced risk        Overweight

# TASK2: Count the total number of overweight people

In [8]:
(participants.BMI_category =='Overweight').sum()

1